.button {
  background-color: #e0e0e6;
  font-size: 40px;
  text-align: center;
  color: #666666;
  border-left: 1px solid #666666;
  border-bottom: 1px solid #666666;
  user-select: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;
}

.grey,
.orange {
  height: 75px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.grey:hover,
.orange:hover {
  box-shadow: inset 0px 0px 80px 0px rgba(200, 200, 200, 0.25);
}

.grey:active,
.orange:active {
  box-shadow: inset 0px 0px 80px 0px rgba(0, 0, 0, 0.25);
}

.orange {
  background-color: #ee9b3e;
  color: #fff;
}

.grey {
  background-color: grey;
  color: black;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1px;
  background: black;
  font-size: 40px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 361px;
  /* margin: 100px auto; */
  border: 10px solid black;
}

.display {
  text-align: right;
  grid-column-start: 1;
  grid-column-end: 5;
  color: white;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 80px;
  width: 360px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 181px;
}

/* .grey,
.orange {
  border: 0.5px solid black;
} */
